
Date: 5/17/23

Author: Dylan Compton

Program: Homework12.ipynb

Exercise 17.2

In [23]:
import sqlite3
import pandas as pds

connection = sqlite3.connect("books.db")
cursor = connection.cursor()
cursor.execute("SELECT * FROM titles")
cursor.fetchall()

[('0135404673', 'Intro to Python for CS and DS', 1, '2020'),
 ('0132151006', 'Internet & WWW How to Program', 5, '2012'),
 ('0134743350', 'Java How to Program', 11, '2018'),
 ('0133976890', 'C How to Program', 8, '2016'),
 ('0133406954', 'Visual Basic 2012 How to Program', 6, '2014'),
 ('0134601548', 'Visual C# How to Program', 6, '2017'),
 ('0136151574', 'Visual C++ How to Program', 2, '2008'),
 ('0134448235', 'C++ How to Program', 10, '2017'),
 ('0134444302', 'Android How to Program', 3, '2017'),
 ('0134289366', 'Android 6 for Programmers', 3, '2016')]

In [25]:
print(cursor.description)

(('isbn', None, None, None, None, None, None), ('title', None, None, None, None, None, None), ('edition', None, None, None, None, None, None), ('copyright', None, None, None, None, None, None))

Exercise 17.1

In [30]:
cursor.execute("SELECT last FROM authors")
cursor.fetchall()

[('Deitel',), ('Deitel',), ('Deitel',), ('Quirk',), ('Wald',)]

In [33]:
cursor.execute("SELECT title FROM titles ORDER BY title ASC")
cursor.fetchall()

[('Android 6 for Programmers',),
 ('Android How to Program',),
 ('C How to Program',),
 ('C++ How to Program',),
 ('Internet & WWW How to Program',),
 ('Intro to Python for CS and DS',),
 ('Java How to Program',),
 ('Visual Basic 2012 How to Program',),
 ('Visual C# How to Program',),
 ('Visual C++ How to Program',)]

In [73]:
pds.read_sql("SELECT title, copyright FROM titles INNER JOIN author_ISBN ON titles.isbn = author_ISBN.isbn ORDER BY title ASC",connection)

                               title copyright
0          Android 6 for Programmers      2016
1          Android 6 for Programmers      2016
2          Android 6 for Programmers      2016
3             Android How to Program      2017
4             Android How to Program      2017
5                   C How to Program      2016
6                   C How to Program      2016
7                 C++ How to Program      2017
8                 C++ How to Program      2017
9      Internet & WWW How to Program      2012
10     Internet & WWW How to Program      2012
11     Internet & WWW How to Program      2012
12     Intro to Python for CS and DS      2020
13     Intro to Python for CS and DS      2020
14               Java How to Program      2018
15               Java How to Program      2018
16  Visual Basic 2012 How to Program      2014
17  Visual Basic 2012 How to Program      2014
18  Visual Basic 2012 How to Program      2014
19          Visual C# How to Program      2017
20          Visual C# How to Program      2017
21         Visual C++ How to Program      2008
22         Visual C++ How to Program      2008
23         Visual C++ How to Program      2008

In [80]:
cursor.execute("INSERT INTO authors (first, last) VALUES ('David', 'Bowie')")

[(1, 'Paul', 'Deitel'),
 (2, 'Harvey', 'Deitel'),
 (3, 'Abbey', 'Deitel'),
 (4, 'Dan', 'Quirk'),
 (5, 'Alexander', 'Wald'),
 (6, 'David', 'Bowie'),
 (7, 'David', 'Bowie'),
 (8, 'David', 'Bowie')]

In [81]:
cursor.execute("INSERT INTO author_ISBN (id, isbn) VALUES ('6', '123456789')")
cursor.execute("INSERT INTO titles (isbn, title, edition, copyright) VALUES ('123456789', 'How to Rock', '1', '1999')")